.App {
  text-align: center;
}
.wrap {
  flex-wrap: wrap;
  background: rgb(248, 190, 190);
}
/*para las imagenes de amiibos*/
.amii {
  width: 120px;
  height: 170px;
}
.click {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-areas: "text" "states";

  font-family: roboto;
  border-radius: 18px;
  background: rgb(245, 239, 239);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 80px;
  padding: 30px;
}

.card {  
  font-family: roboto;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  border: 1px solid black;
}

.card-image {
  grid-area: image;
  background: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text p {
  color: rgb(253, 253, 253);
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-states {
  grid-area: states;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 7, 110);
  margin:3px;
}

.card-states p {
  color: white;
  padding-right: 4px;
}

.card-states .border {
  border-left: 1px solid rgb(172,26,87);
  border-right: 1px solid rgb(172,26.87);
}