.App {
  text-align: center;
}
.wrap{
  flex-wrap: wrap;
}
/*para las imagenes de amiibos*/
.amii {
  width: 120px;
  height: 170px;
}
.click {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  margin-right: 10px;
  /* width: 200p  x; */
  grid-template-areas: "head head"
                       "menu main"
                       "foot foot";

}


.a { background: rgb(147, 147, 219); border: 1px solid; border-radius: 15px; box-shadow: 5px 10px #888}
.b { background: rgb(219, 178, 178); border: 1px solid; border-radius: 15px; box-shadow: 5px 10px #888}
.c { background: rgb(155, 190, 155); border: 1px solid; border-radius: 15px; box-shadow: 5px 10px #888}
.d { background: rgb(250, 216, 154); border: 1px solid; border-radius: 15px; box-shadow: 5px 10px #888}

